h1 {
  padding: 20px;
  margin: 30px;
}
.main {
  color: tomato;
  background-color: powderblue;
}

ul { display: flex;}
li {
  list-style: none;
  border: 1px solid #AAA;
  border-radius: 2px;
  width: 100px;
  height: 30px;
  padding: 20px;
  margin: 0 20px;
  text-align: center;
  line-height: 30px;
}

p {
  font-family: "Gugi", sans-serif;
  font-weight: 400;
  font-style: normal;
}
