* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #14141a;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

#container section {
  margin: 10px 0;
  border: 1px solid rgb(64, 64, 92);
  border-radius: 5px;
  color: #FFF;
}

/* 검색메뉴 */
#search_menu {
  height: 100px;
  padding-top: 25px;
}

#search_bar {
  width: 70%; height: 50px;
  border: 1px solid silver;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
}

#search_bar input {
  width: 600px; height: 40px;
  border: none;
  font-size: 12pt;
  margin-left: 10px;
}

#search_button {
  width: 50px;
  height: 40px;
  background-color: rgb(158, 140, 140);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 900;
  font-size: 10pt;
  margin-right: 5px;
  cursor: pointer;
}

/* 통합 메뉴 */
#integrate {
  display: flex;
}

#rank_info {
  width: 30%;
  margin-right: 10px;
}

#summary_info {
  width: 70%;
}

/* 플레이어 정보 메뉴 */
#player_menu {
  height: 200px;
  padding: 15px 15px 15px 0px;
  display: flex;
  color: #FFF;
}

#player {
  flex: 3;
  display: flex;
}

#player_icon {
  position: relative;
}

#player_icon img {
  width: 150px;
  margin-right: 20px;
  border-radius: 10px;
}

#player_level {
  position: absolute;
  top: 135px;
  left: 50px;
  background-color: rgb(107, 102, 102);
  width: 50px; height: 30px;
  text-align: center;
  color: #FFF;
  padding: 4px;
  font-size: 12pt;
  border-radius: 5px;
}

#tag {
  color: rgb(99, 99, 99);
}

/* 랭크 지표 메뉴 */
#rank_info section {
  padding: 10px;
}

#rank_info section hr {
  margin-top: 10px;
}

#solo_rank img {
  width: 75px;
}

#flex_rank img {
  width: 75px;
}

/* 20개 게임 요약 메뉴 */
#summary_menu {
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  background-color: rgb(31, 35, 49);
  color: #FFF;
}

#record {
  flex: 1;
}

#latest_champion {
  flex: 1;
}

#latest_position {
  flex: 1;
}

#position_data {
  display: flex;
  justify-content: space-evenly;
}

/* 20개 게임들 */


.game { 
  display: flex;
  align-items: center;
  padding: 10px 0px;
  margin-bottom: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #FFF;
}

.victory { 
  background-color: rgb(33, 58, 150, 0.3); 
  border-left: 5px solid rgb(33, 58, 150);
}

.defeat {
  background-color: rgb(227, 70, 70, 0.3);
  border-left: 5px solid rgb(227, 70, 70);
}

.simple_data {
  flex: 1;
  margin-left: 10px;
  line-height: 15px;
}

.mod {
  color: #0B89CF;
}

.simple_data p{
  font-size: 7pt;
  color: silver;
  font-weight: 600;
}

.simple_data hr{
  margin: 10px 0;
  width: 50%;
}

.champion {
  flex: 2.5;
  border-right: 1px solid rgb(49, 49, 49);
}

.game_data {
  display: flex;
  position: relative;
}

.champion_icon {
  width: 55px;
  height: 55px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.champion_level {
  position: absolute;
  top: 40px;
  background-color: rgb(26, 25, 25);
  width: 20px; height: 15px;
  text-align: center;
  color: #FFF;
  padding: 2px;
  font-size: 6pt;
  font-weight: 900;
  border-top-right-radius: 5px;
}

.champion_position {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 20px; height: 20px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 2px;
  font-size: 6pt;
  font-weight: 900;
}

.spell img {
  width: 25px;
  border-radius: 5px;
}

.spell_div {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.spell1 {
  margin-bottom: 4px;
}

.rune {
  width: 25px;
}

.rune img {
  width: 25px;
}

.rune_div {
  width: 25px;
  height: 25px;
  border-radius: 30px;
  background-color: black;
}

.rune_1 {
  margin-bottom: 4px;
}

.item {
  display: flex;
}

.item img { 
  width: 30px;
  padding-right: 2px;
  border-radius: 5px;
}

.score1 {
  width: 100px;
  text-align: center;
  padding: 5px;
}

.kda_area1 {
  font-weight: 600;
}

.score1 .death { color: red; }

.kda_area2 {
  font-size: 10pt;
  color: rgb(139, 139, 139);
}

.score2 {
  flex: 2;
  text-align: center;
}

.users {
  flex: 3;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  font-size: 10pt;
}