* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

header img {
  height: 100px;
  margin-top: 30px;
}

header h1 {
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

header li {
  display: inline-block;
  padding: 20px;
  margin-right: 50px;
  margin-left: 50px;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: black;
  display: inline-block;

}

li:hover { background-color: rgb(221, 221, 221); }
li:active { background-color: rgb(145, 145, 145); }

main {
  width: 900px; padding: 10px; 
  background-color: rgb(201, 201, 201);
  margin: 20px auto;
}

section {
  width: 600px;
  background-color: white;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
}

section h1 {
  font-size: 25pt;
  color: rgb(145, 145, 145);
}

section li {
  cursor: pointer;
}

section a {
  text-decoration: none;
  color: black;
  line-height: 30px;
}

section img {
  width: 200px; height: 200px;
}

div {
  display: inline-block;
}

div p {
  margin-bottom: 20px;
}

footer {
  margin-top: 10px;
  padding-bottom: 40px;
}

footer p {
  color: rgb(145, 145, 145);
}